<div class="docs-section" id="contactus">
    <h3 class="docs-header childrencenter">Contact Us</h3>
    <div class="container">
        <div>To request a trial of DotAlign, or if you have any questions or comments, please reach out via:</div>
        <div>
            <b>Email</b>: <a href="mailto:team@dotalign.com">team@dotalign.com</a>
        </div>
        <div>
            <b>Phone</b>: 212 706 8630
        </div>
        <div>
            <b>Street Address</b>: 110 5th Ave, New York, NY 10011
        </div>
    </div>
</div>

</div>

<div class="docs-section" style="height: 100px; text-align: center" id="footer">
    &copy; 2017 DotAlign, Inc. | <a href="/home/privacy">Privacy Policy</a>
</div>
