<div class="docs-section" id="contactus">

    <h2 class="docs-header childrencenter">Contact Us</h2>
    
    <div class="container">
        <p>
            If you have any questions, need more information, or would like to 
            request a trial of DotAlign, please feel free to reach out.
        </p>

        <p>
            <b>Email</b>: <a href="mailto:team@dotalign.com">team@dotalign.com</a><br />
            <b>Phone</b>: 212 706 8630<br />
            <b>Street Address</b>: 27 E 28th St, 15th Floor, New York, NY 10016<br />
        </p>

    </div>

</div>

<br />

<p style="height: 100px; text-align: center" id="footer">
    &copy; 2019 DotAlign, Inc. | <a href="https://www.dotalign.com/home/privacy" target="_blank">Privacy Policy</a>
</p>
